<div class="sub-header">
  <div class="container">
    <div class="row">
      <div class="col-sm-2 text-center">
        <img class="sub-header__img" src="../img/iphone/iphone5c.jpg" alt="Киев ремонт iPhone 5C"/>
      </div>
      <div class="col-sm-4">
        <h1 title="Ремонт iPhone 5C Киев">Ремонт iPhone 5C</h1>
        <p>Услуги и цены</p>
      </div>
      <div class="col-sm-6"></div>
    </div>
    <div class="sub-header__description">
      Наша команда предлагает <strong>профессиональный ремонт iPhone 5c</strong> на самых выгодных условиях в Киеве. Мы предлагаем не только ремонт с гарантией качества, но и отличный сервис!
    </div>
  </div>
</div>

<prices-table></prices-table>

<div class="container">
  <div class="mb20 content-text">
    <div class="row">
      <div class="col-sm-12">
        <p>
        Вот уже не один год наша компания Service Iphone занимается ремонтом техники исключительно производства компании <a rel="nofollow" href="http://www.apple.com/">Apple</a>. За этот срок мы тщательно изучили наиболее частые поломки каждой из моделей и нашли индивидуальный подход к устранению любых неполадок. Ремонт устройств мы производим в сжатые сроки, что никак не отражается на качестве.
        С уверенностью можно говорить о том, что нам под силу устранить неполадки самых разных моделей, в том числе и только что выпущенных.
        </p>
        <p>
        Ремонт iPhone 5С в нашей компании выполняют профессионалы буквально на ваших глазах с использованием оригинальных запчастей высокого качества. Вы обладатель модели iPhone 5С, которую нужно срочно восстановить? Тогда вам точно к нам!
        iPhone 5С на рынке появился не так давно, но мы уже десятки раз сталкивались с ремонтом этой модели, изучив все нюансы работы с ней. Процесс восстановления устройства за этот короткий срок полностью отлажен, что еще раз говорит о профессионализме наших мастеров. К нам не нужно записываться и долго ждать. Самое главное – нам не нужно много платить! Вы платите лишь за запчасти и работу, не переплачивая ни копейки сверху!
        </p>
        <p>
        Кроме того, обратившись по поводу ремонта iPhone 5С, вы получите бесплатную диагностику телефона в качестве бонуса.
        Обращайтесь в любое удобное для вас время, и в уютном офисе за чашкой ароматного кофе мы обсудим все детали ремонта. Благодаря профессионализму наших мастеров, ваш iPhone 5С вернется в строй очень быстро!
        </p>
      </div>
    </div>
  </div>
</div>