<div class="sub-header">
  <div class="container">
    <div class="row">
      <div class="col-sm-2 text-center">
        <img class="sub-header__img" src="../img/iphone/iphone4s.jpg" alt="Ремонт iPhone 4s">
      </div>
      <div class="col-sm-4"><h1 title="Быстрый Ремонт iPhone 4s в Киеве">Ремонт iPhone 4s</h1>

        <p>Услуги и цены</p></div>
      <div class="col-sm-6">
        <p>
          <strong>Повредить смартфон</strong> можно случайным образом, находясь дома, на работе и даже на отдыхе.
          Падение телефона на твердую поверхность может вызвать проблемы с микрофоном, динамиком и
          программным обеспечением. Как найти недорогой и качественный ремонтный сервис?
        </p>
      </div>
    </div>
  </div>
</div>
<prices-table></prices-table>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Преимущества iPhone 4s:</h2>
      <ul class="ml20">
        <li> возможность работать в UMTS, CDMA и GSM-сетях;</li>
        <li> наличие круглых клавиш для управления громкостью и режимами;</li>
        <li> встроенный слот для SIM-карты в формате «микро»;</li>
        <li> 3,5” IPS-матрица, разрешение 960 х 640;</li>
        <li> голосовое управление Siri, голосовой ввод при написании текста, функция iMessage;</li>
        <li> фронтальная камера для видеовызова;</li>
        <li> синхронизация с iTunes по Wi-Fi.</li>
      </ul>
      <p>
        Если вы выбрали этот гаджет — сразу оцените его удобство и функциональность. Но что делать, если понадобится
        <strong>ремонт айфона 4s</strong>?
      </p>

      <h2>Ремонт iphone 4s</h2>

      <p><strong>Service-iphone</strong> — качественный сервис по ремонту техники Apple любой сложности, включая и
        iphone 4. Опытные специалисты устранят даже самые сильные повреждения на <a href="/ipad-remont">iPad</a>, <a href="/remont-ipod">iPod</a>,
        <a href="/macbook-remont">MacBook</a> или
        <a rel="nofollow" href="/macbook-remont">iMac</a>, а также смартфонах iphone любого поколения. Можете не переживать об утрате
        работоспособности своего мобильного любимчика — мы быстро вернем ему первоначальную
        привлекательность и приведем в рабочее состояние.</p>

      <p>Наш сервис выполнит <strong>ремонт iphone 4s в Киеве</strong> быстро и качественно, применяя оригинальные
        запчасти для вашего модного девайса. Это залог длительной работы вашего девайса.</p>

      <p>Обращайтесь прямо сейчас, если вашему телефону нужна:</p>
      <ul class="ml20">
        <li>замена экрана iphone 4, задней крышки;</li>
        <li>реабилитация после попадания жидкости в открытые разъемы, внутрь корпуса;</li>
        <li>восстановительная программа по налаживанию программного обеспечения.</li>
      </ul>
      <p>
        Также мы поможем, если у вас:
      </p>
      <ul class="ml20">
        <li>отсутствует реакция на сенсорное прикосновение;</li>
        <li>не работает Wi-Fi, камера, звук, кнопка или микрофон;</li>
        <li>на панели появилась некрасивая трещина, царапина.</li>
      </ul>
      <h3>
        Гарантийный ремонт экрана iphone 4 и других деталей телефона
      </h3>

      <p>
        В Service-iphone вы получаете полный комплекс ремонтных услуг без предварительной записи.
        Все, что нужно — принести девайс и довериться рукам опытных профессионалов. Удобная доставка
        отремонтированного смартфона прямо в офис порадует даже тех, кто очень занят. Наш курьер быстро
        вернет незаменимое устройство связи и вы сможете вернуться к текущим делам, не выбиваясь из
        привычного графика.
      </p>

      <p>
        Помните: <strong>качественный ремонт iphone 4s</strong> — <a href="/razbilos-steklo-iphone">замена стекла</a>, <a href="/ne-rabotaet-zvuk-na-iphone">динамика</a>, <a href="/iphone-ne-rabotaet-mikrofon">микрофона</a>, камеры и
        прочих запчастей, которые износились или сильно повреждены.
      </p>

      <p>
        В Service-iphone вы получаете не косметический, а полноценный ремонт с гарантией, который
        избавит от проблем во время эксплуатации устройства.
      </p>

      <p>
        Например, <strong>замена заднего стекла iphone 4</strong> — шанс избавиться от трещины или скола,
        возвращая мобильнику первоначальный вид, как в день покупки. В данном случае, склеить трещину — не выход.
        Рано или поздно в отверстие просочиться пыль и грязь, что заставит обратиться в <a href="/">ремонтный сервис</a>.
        Однако стоимость такого ремонта будет значительно дороже, ведь уже повреждены и внутренние запчасти. Экономьте сейчас — <strong>замена задней крышки iphone 4</strong> обойдется гораздо
        дешевле!
      </p>

      <p>
        В Service-iphone предусмотрена возможность бесплатной консультации, которая поможет вам понять, в чем заключается причина поломки.
      </p>
      <p>Приходите к нам — наши цены приятно удивляют!</p>
      <br/><br/>
    </div>
  </div>
</div>