<div class="sub-header">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>Вас не слышит собеседник, не работает микрофон iPhone</h1>
        <div class="cf">
          <i class="f40 left mr20 icon-microphone aa"></i>
          <p>Бывает, что при разговоре вас перестает слышать собеседник и вы уверены, что это не проблема вашего сотового оператора.</p>
          <p>В этом случае может потребоваться замена микрофона, если он вышел из строя. Если микрофон в порядке — то мог испортится шлейф. А если и шлейф цел, то, вероятно,  проблема в микросхеме управления голосом.</p>
        </div>
        <p>Наш мастер проведет диагностику и заменит испорченную деталь.</p>
      </div>
    </div>
  </div>
</div>