<div class="sub-header">
  <div class="container">
    <div class="row">
      <div class="col-sm-12"><h1 title="iPhone не заряжается">iPhone не заряжается</h1>

        <p><span class="left f40 mr20"><i class="icon-charge aa"></i></span> Весьма частым явлением в iPhone является
          внезапная остановка процесса зарядки или вовсе его отсутствие, когда ваше устройство просто не реагирует на
          зарядное устройство. В данном случае проблема может быть обусловлена возникновением неисправности в нижнем
          шлейфе, где и расположен разъем питания.<br><br>Также, не исключение, что остановка зарядки произошла по вине
          неисправности аккумулятора. Например, в случае падения телефона, мог выйти из строя контроллер питания.</p>

        <h2>Так что же предпринять, когда iPhone перестал заряжаться?</h2>

        <h3>1. Не забыть проверить на работоспособность зарядное устройство.</h3>

        <p>Чаще всего именно из-за нерабочей зарядки <strong>iPhone не заряжается</strong>. Иногда, из-за плохой или
          испорченной зарядки, появляются ошибки, например такая:</p>

        <div class="text-center mb10"><img src="/img/content/no_charge.jpg" alt="iPhone не заряжается"></div>
        <p>В большинстве случаев именно оно может стать виновником отсутствия зарядки, ввиду своей неисправности.</p>

        <p>Необходимо убедиться, что кабель и адаптер в рабочем состоянии, посредством проверки их на других iPhone и
          если зарядка пошла успешно, отбросить подобный вариант поломки.</p>

        <h3>2. Неисправность нижнего шлейфа</h3>

        <p>В данном случае без специализированной помощи не обойтись, так как вторая частая проблема в iPhone, влияющая
          на отсутствие зарядки, заключается в повреждении разьема, при котором зарядное устройство, просто не способно
          работать.</p></div>
    </div>
  </div>
</div>