<div class="sub-header">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>Не нажимаются кнопки на iPhone</h1>
        <p>Часто от неаккуратного использования iPhone перестают работать различные функциональные кнопки( кнопка Home,кнопки громкости, кнопка блокировки,кнопка беззвучного режима) или же работают плохо и почти не нажимаются. В этом случае мы заменяем шлейф который отвечает за необходимую функцию. Часто кнопки выходят из строя от попадания грязи или воды.</p>
        <ul>
        </ul>
      </div>
    </div>
  </div>
</div>
