<div class="sub-header">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>Не работает дисплей iPhone</h1>
        <p>В этой странице описаны распространенные проблемы, связанные с дисплеями на Айфонах.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <h2>Черный экран, нет изображения</h2>
        <h3>Симптомы</h3>
        <p>Аппарат подает признаки жизни, работает звук, на телефон можно позвонить, но экран остается черный. Перезагрузка и подключение зарядки ни к чему не приводят.</p>
        <h3>После чего могло произойти</h3>

        <p>Часто случается после падения, но может произойти и само по себе.</p>

        <h3>Вероятный диагноз</h3>

        <p>Вышел из строя дисплей, либо на него не подается питание.</p>

        <h4>Варианты лечения</h4>

        <ul>
          <li>Замена дисплея или дисплейного модуля.</li>
          <li>Ремонт разъема дисплея</li>
        </ul>

        <h2>Точки, битые пиксели</h2>

        <h3>Симптомы</h3>

        <p>Маленькие, почти незаметные точки различных цветов на экране.</p>

        <h3>После чего могло произойти</h3>

        <p>Происходит само по себе, либо это заводской брак.</p>

        <h3>Вероятный диагноз</h3>

        <p>Битые пиксели.</p>

        <h4>Варианты лечения</h4>

        <ul>
          <li>Замена дисплея или дисплейного модуля.</li>
        </ul>
      </div>
      <div class="col-sm-6">
        <h2>Полосы на дисплее</h2>

        <h3>Симптомы</h3>

        <p>Аппарат работает, изображение на экране присутствует. Поверх изображения есть полосы различных цветов. Иногда очень тонкие. Могут появляться периодически.</p>

        <h3>После чего могло произойти</h3>

        <p>Часто случается после падения, но может произойти и само по себе.</p>

        <h3>Вероятный диагноз</h3>

        <p>Выбита дорожка на матрице, возможно частично.</p>

        <h4>Варианты лечения</h4>

        <ul>
          <li>Замена дисплея или дисплейного модуля.</li>
        </ul>

        <h2>Черные круги на дисплее</h2>

        <h3>Симптомы</h3>

        <p>Черные расплывающиеся круги на экране, возможное искажение цветов около них. Не исчезают.</p>

        <h3>После чего могло произойти</h3>

        <p>Происходит после падения, либо после попыток разделить стекло и дисплей в модуле.</p>

        <h3>Вероятный диагноз</h3>

        <p>Разбита матрица, потекли кристаллы.</p>

        <h4>Варианты лечения</h4>

        <ul>
          <li>Замена дисплея или дисплейного модуля.</li>
        </ul>
      </div>
    </div>
  </div>
</div>
