<div class="sub-header">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>Не работает тачскрин на iPhone
        </h1>
        <p>Бывает, что часть экрана перестает реагировать на нажатия или просто очень плохо откликается. А иногда тачскрин (сенсорное стекло) вообще перестает работать.</p>
        <p>В этом случае мог отойти разъем тачскрина или он полностью вышел из строя  — в таком случае требуется его замена.</p>
      </div>
    </div>
  </div>
</div>