<div class="sub-header">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>Не работает звук на iPhone</h1>
        <p><i>Существует ряд поломок в iPhone, влияющих на внезапное прекращение подачи звука. Проявление подобных проблем весьма различно, точно также, как и их устранение при ремонте.</i></p>
        <h2>Не слышно собеседника (плохо слышно)</h2>
        <p>В случае, когда собеседника при разговоре не слышно или слышно еле-еле, некоторые владельцы выходят из ситуации путем включения громкой связи. Однако, подобное решение не является подходящим, если разговор ведется в общественных местах.</p>
        <h3>Проблемы с верхним динамиком</h3>
        <p>Если у вас возникла подобная неисправность, то решение ее состоит в проверке слухового или верхнего динамика. К его порче приводит скопление пыли или частые падения. Устранение неполадки возможно посредством замены верхнего динамика в устройстве. Стоимость их вы сможете уточнить в специальном разделе ниже.</p>
        <h3>Неисправность верхнего шлейфа</h3>
        <p>Крепление верхнего динамика на плату не происходит напрямую, так как в каждой модели он соединяется с верхним шлейфом, который и присоединяется к материнской плате. Выход верхнего шлейфа, отвечающего за слуховой динамик, происходит не часто, однако в некоторых случаях это наблюдается. Например, при попадании воды или при сильных падениях. В данном случае необходимо провести замену шлейфа динамика.</p>
        <h2>Не работает громкая связь, а музыку слышно лишь с наушниками</h2>
        <p>Функция по воспроизведению громких звуков ложится на полифонический динамик, располагающийся снизу. Многие ошибочно считают, что снизу присутствует два динамика, но на самом деле один из них замаскированный микрофон.</p>
        <p>Если вы не слышите или слышите очень плохо:</p>
        <ul>
          <li>звонок телефона;</li>
          <li>музыкальных композиций без наушников;</li>
          <li>звука в видеозаписях;</li>
          <li>человека при разговоре на громкой связи;</li>
          <li>звука в играх.</li>
        </ul>
        <p>Значит ваша проблема может быть обусловлена двумя неисправностями: в нижнем шлейфе или динамике.</p>
        <h2>Поломка нижнего динамика</h2>
        <p>Повреждение подобного динамика в iPhone обычно происходит после ударов, скопления пыли или попадания в него влаги. В нашем сервисе вы сможете заменить его на оригинальный.</p>
        <h3>Нижний шлейф</h3>
        <p>Соединение динамика с материнской платой происходит при помощи нижнего шлейфа и в случае его повреждения, проблема будет состоять в динамике.</p>
        <h3>Неисправности платы, влияющие на звук</h3>
        <p>Каждая из проблем, упомянутая выше, может касаться исключительно материнских плат, так как именно на них присутствуют микросхемы, влияющие на воспроизведение звука.</p>
        <p>Распространенные из них, это микросхема для управления голосом и аудиокодек, при повреждении которых, рекомендуется скоротечно произвести их замену.</p>
      </div>
    </div>
  </div>
</div>
