<div class="sub-header">
  <div class="container">
    <div class="row">
      <div class="col-sm-12"><h1 title="Не работает виброзвонок">Не работает виброзвонок</h1>

        <p>Возможно несколько неполадок виброзвонка на iPhone.</p>
        <ol>
          <li>Может не работать сам переключатель (чаще всего это бывает на iPhone 3G/3GS)</li>
          <li>Возможно, вибрация работает слишком слабо или обрывками.</li>
          <li>Также вибрация может вообще отсутствовать.</li>
        </ol>
        <p>Чаще всего мы просто меняем вибромотор.</p></div>
    </div>
  </div>
</div>