<div class="sub-header">
  <div class="container">
    <div class="row">
      <div class="col-sm-12"><h1>Что делать, если в iPhone попала вода</h1>

        <div class="text-center mb10"><img src="/img/content/iphone-whater-inside.jpg" alt="iPhone попала вода"
                                           title="iPhone попала вода"></div>
        <p>От воды не защищен ни один телефон, исключением не стал и популярнейший сегодня iPhone. Вода – это самый
          страшный враг всей техники. Давайте рассмотрим наиболее частые ситуации, в которых iPhone повреждается из-за
          попадания воды:</p>
        <ul>
          <li>Вы могли случайно взять телефон мокрыми руками. В этом случае мелкие капли влаги могут просочиться внутрь
            аппарата и повредить механизм кнопок. Это наименее опасная для телефона ситуация, которая легко разрешается.
          </li>
          <li>Если вы привыкли брать с собой телефон в душ, стоит отказаться от этой привычки. Пар превращается в
            конденсат, таким образом капли воды попадают в iPhone.
          </li>
          <li>Сидя в баре или ресторане все обычно выкладывают телефон на стол, не удивительно что рано или поздно его
            настигает участь залитого вином или пивом телефона.
          </li>
          <li>В конце концов, iPhone можно и вовсе уронить в речку или ванну (бывают случаи, когда дорогостоящий аппарат
            «купается» даже в унитазе).
          </li>
        </ul>
        <p>Пожалуй, самая опасная для телефона ситуация – это «морское путешествие». Соленная вода наносит iPhone
          непоправимый вред. Чаще всего телефоны, попавшие в морскую воду не поддаются ремонту.</p>

        <h2>Что делать, если iPhone попал в воду</h2>

        <p>В первую очередь, развеем миф о том, что если положить мокрый телефон в рис, то он быстро высохнет и вернется
          к жизни. На самом деле это не так, с таим же успехом можно просто протереть iPhone полотенцем. Короткое
          замыкание не сможет исправить ни полотенце, ни рис, ни гречка с майонезом. Более того рисины забиваются в
          проемы телефона и их потом приходится оттуда извлекать.</p>

        <p><strong>Если вы уронили телефон в воду</strong>, как можно быстрее <strong>отключите его</strong> (если он
          работает) и незамедлительно <strong>отсоедините аккумулятор</strong>. Если вы решили самостоятельно разобрать
          аппарат и просушить его, будьте предельно внимательны к тонким шлейфам, которые можно случайно порвать в
          процессе разборки. После того, как iPhone высох, удалите коррозию с контактов. Если вода не успела проникнуть
          в другие элементы телефона, то возможно он заработает.</p>

        <p>Лучше всего не экспериментировать, а отнести телефон к наш <a title="Сервис центр Service-iPhone.com.ua"
                                                                         href="/">сервисный центр</a>. Чем дольше вы
          ждете, тем сложнее будет нашим мастерам «вылечить» ваш iPhone.</p></div>
    </div>
  </div>
</div>