<div class="container">
  <section class="repear ">
    <h2 class="repear__title">Цены на {{ metatags.title }}</h2>
    <div data-ng-repeat="table in pricesTable">
      <h3 class="pricelist__heading">{{table.tableTitle}}</h3>

      <div class="pricelist__table">
        <div data-ng-repeat="row in table.rows" class="row pricelist__row">
          <div class="col-md-5">
            <div class="pricelist__item__title">{{row.title}}</div>
            <time class="pricelist__item__time">{{row.repear_time}}</time>
          </div>
          <div class="col-md-3">
            <div class="pricelist__item__cost">{{row.cost}}</div>
          </div>
          <div class="col-md-4">
            <div class="pricelist__item__description">{{row.description}}</div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>