<section class="warranty">
  <div class="container">
    <h1>Гарантия</h1>
    <h2 class="warranty__heading2">Мы предоставляем гарантию на все ремонты.</h2>
    <p>Срок гарантии — 2 года.</p>
    <p>Гарантия распространяется на все установленные запчасти и выполненные услуги.</p>
    <p>Мы не завышаем цены даже при такой огромной гарантии.</p>
    <p>Мы даем такую большую гарантию, так как ставим самые надежные запчасти и делаем все максимально качественно.</p>
    <h2 class="mt0">Почему гарантия большая, а цены низкие?</h2>
    <p>Да, мы действительно не повысили цены на ремонт и держим их ниже рыночных. Кроме того, частые скидки и акции все так же позволяют вам экономить.</p>
    <p>Нам удается удерживать такие цены и устанавливать качественные (оригинальные) запчасти, так как мы напрямую работаем з заводами-производителями запчастей и являемся крупным оптовым заказчиком, что позволяет покупать лучшие запчасти по очень низким ценам. Кроме того, качественное обслуживание позволяет нам получить больше клиентов, так как те, кто у нас ремонтировался всегда советует нас друзьям.</p>
    <h3 class="mb5">Гарантийные обязательства</h3>
    <ul class="warranty__agreement">
      <li>Срок гарантии составляет 2 года со дня выдачи аппарата Заказчику.</li>
      <li>Исполнитель гарантирует безотказную работу компонентов (деталей), установленных в аппарат, в течении гарантийного срока. Гарантия распространяется только на выполненные работы и на установленные оригинальные запчасти в технику для устранения неисправности.</li>
      <li>Гарантия не распространяется на технику в случае выхода из строя компонентов (деталей) не относящихся к выполненным работам или изначальной проблеме, либо если Исполнитель определит, что поломка связана с действиями клиента, или по причине форс-мажорных обстоятельств. Также, гарантия не распространяется на целостность корпусных деталей, подверженных естественному износу, таких как панели, стекла, крышки. Гарантия не распространяется на программное обеспечение в любом виде.</li>
      <li>Под гарантийное сервисное обслуживание не попадают устройства, потерявшие работоспособность вследствие несанкционированного обслуживания или модификации, разборки устройства, нарушений условий эксплуатации, а также применения техники способами несоответствующих от оговоренных в инструкции по эксплуатации.</li>
      <li>Исполнитель не несет ответственности за возможную потерю данных, находящихся в памяти оборудования или на каких-либо носителях информации.</li>
      <li>Гарантийные обязательства выполняются сроком до 30 рабочих дней ( в зависимости от наличия комплектующих и сложности роботы).</li>
      <li>Срок гарантийного ремонта не является основанием для увеличения основного срока гарантии. Изменение сроков гарантийного обслуживания обратной силы не имеет.</li>
      <li>В случае утери акта выполненных работ Исполнитель вправе отказать Заказчику в гарантийном ремонте.</li>
      <li>Гарантия не распространяется на время автономной работы аппарата после замены элемента питания.</li>
      <li>Гарантийный ремонт выполняется в сервисном центре, находящемся по адресу м. Золотые Ворота, ул. Богдана Хмельницкого 32, оф. 5. Контактный телефон: +38 (067) 77-68-610</li>
    </ul>
  </div>
</section>
