<div class="sub-header">
  <div class="container">
    <div class="row">
      <div class="col-sm-2 text-center">
        <img class="sub-header__img" src="../img/macbook/air.jpg" alt="ремонт macbook air Киев"/>
      </div>
      <div class="col-sm-4">
        <h1 title="Ремонт MacBook Air">Ремонт MacBook Air</h1>

        <p>Услуги и цены</p>
      </div>
      <div class="col-sm-6"></div>
    </div>
    <div class="sub-header__description">
      Сервисный центр в Киеве Service Apple осуществляет <strong>ремонт MacBook Air</strong> по самым низким ценам при любой сложности ремонта.
    </div>
  </div>
</div>

<prices-table></prices-table>

